<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
      <div class="form-group"
        [ngClass]="{'error': !isValidFirstName()}">
        <label for="firstName">First Name:</label>
        <em *ngIf="!isValidFirstName() && isRequired(profileForm, 'firstName')">Required</em>
        <em *ngIf="!isValidFirstName() && didNotStartingWithLetter(profileForm, 'firstName')">Must start with a letter</em>
        <input formControlName="firstName" id="firstName" type="text" class="form-control"
          placeholder="First Name..." />
      </div>
      <div class="form-group"
          [ngClass]="{'error': !isValidLastName()}">
          <em *ngIf="!isValidLastName() && isRequired(profileForm, 'lastName')">Required</em>
          <em *ngIf="!isValidLastName() && didNotStartingWithLetter(profileForm, 'lastName')">Must start with a letter</em>
          <label for="lastName">Last Name:</label>
        <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
      </div>

      <button type="submit" mat-flat-button color="primary">Save</button>
      <button type="button" mat-flat-button (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
