<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off" novalidate>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>User Name</mat-label>
        <input (ngModel)="userName" placeholder="User name" name="userName" required id="userName" type="text" matInput>
        <mat-error *ngIf="isRequired(loginForm, 'userName')">Required</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input (ngModel)="password" placeholder="Password" name="password" required id="password"
          [type]="(maskPassword$ | async) ? 'password' : 'text'" matInput>
        <button type="button" mat-icon-button matSuffix (click)="checkChanged()" [attr.aria-label]="'Mask password'"
          [attr.aria-pressed]="maskPassword$ | async">
          <mat-icon>{{!(maskPassword$ | async) ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="isInvalidPassword(loginForm, 'password')">Required</mat-error>
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    <button mat-flat-button type="button" (click)="cancel()">Cancel</button>
  </form>
</div>
